[run]
branch = True
source =
    linehaul
omit =
    # We don't want to actually cover our __main__.py file because it is hard
    # to cover and it really just acts as a tiny shim to a function.
    linehaul/__main__.py
