*.py[co]
*.mo

*.egg-info/
*.egg
.eggs/

.cache/
.coverage
.state
.idea

docs/_build/
build/
dist/*.tar.gz
dist/*.whl
htmlcov/

dev/GCP.json

warehouse/.commit
warehouse/static/components
warehouse/static/dist
warehouse/admin/static/dist

tags
*.sw*
